/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.50%;
    /* font-family */
    --league-spartan: 'League Spartan', sans-serif;
    /* primary colors */
    --very-dark-magenta:  hsl(300, 43%, 22%);
    --soft-pink:  hsl(333, 80%, 67%);
    /* neutral colors */
    --dark-greyish-magenta:  hsl(303, 10%, 53%);
    --light-greyish-magenta:  hsl(300, 24%, 96%);
    --white :  hsl(0, 0%, 100%);
}

body {
    font-family: var(--league-spartan);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 1px solid red; */
    background-image: url('./assets/images/bg-pattern-top-desktop.svg'), url('./assets/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position:top left, bottom right;
}
h1 {
    font-size: 5.8rem;
    color:var(--very-dark-magenta);
}


main {
    /* border: 1px solid blue; */
    width:98rem;
    padding:2em;
    margin:2em 0;
}
/* HEADING COMPONENT STYLES */
.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}

.heading-text {
    flex: 1 1 40rem;
    margin-right:2em;
}
.heading-text p {
    font-size: 2rem;
    padding:1em 0em;
    color:var(--dark-greyish-magenta);
}

.rating-container {
    flex: 1 1 40rem;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:2em 0;
}

.rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--light-greyish-magenta);
    margin: 0.5em;
    border-radius:0.5rem;
    /* width: 35rem; */
    padding:1em;
}
.rating p {
    flex:1 1 19rem;
    font-size:1.5rem;
    color: var(--very-dark-magenta);
    font-weight:bold;
}
.rating-2 {
    position: relative;
    left: 2rem;
}

.rating-3 {
    position: relative;
    left: 4rem;
}

.star-container {
    flex:1 1 10rem;
    /* border:1px solid red; */
}

.star-container img {
    margin-right:0.1em;
    /* border:1px solid blue; */
}
/* CARD COMPONENT STYLES */
.card-container {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 2em;
}

.card {
    flex: 1 1 20rem;
    /* border:1px solid red; */
    padding: 2em;
    border-radius: 0.5rem;
    margin-top: 2em;
    background-color: var(--very-dark-magenta);
}

.card-1,
.card-2 {
    margin-right: 2em;
}

.card-2 {
    position: relative;
    top: 1rem;
}

.card-3 {
    position: relative;
    top: 2rem;
}
.card p {
    font-size:1.5rem;
    font-weight: 200;
    color:var(--white);
}

/* AVATAR STYLES */
.avatar {
    display: flex;
    align-items:center;
    margin-bottom: 2em;
}

.avatar h2 {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom:0.35em;
}
.avatar p {
    font-size:1.5rem;
    color:var(--soft-pink);
}

.avatar img {
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    margin-right:2em;
}

/* MEDIA QUERIES */
@media only screen and (max-width:375px) {
    body {
        background-image: url('./assets/images/bg-pattern-top-mobile.svg'), url('./assets/images/bg-pattern-bottom-mobile.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
    }

    main {
        width: 95%;
    }
    
    h1 {
        font-size: 2.8rem;
        text-align: center;
    }

    .heading-text p {
        font-size:1.5rem;
        text-align: center;
    }


    .rating-2,
    .rating-3 {
        position:static;
    }

    .card-2,
    .card-3 {
        position: static;
    }
    .card-1,
    .card-2 {
        margin-right: 0;
    }
    .rating-container {
        width:100%;
        padding:0em;
    }

    .rating {
        justify-content: center;
    }
    .rating p {
        text-align: center;
    }
    .star-container {
        display: flex;
        justify-content: center;
    }
    .card-container {
        margin-top: 0.3em;
    }
    .card {
        margin-top:1em;
    }
    .card p {
        font-size:1.3rem;
    }
}